@font-face {
  font-family: "IRANSans";
  src: url("../font/IRANSansWeb.eot");
  src: url("../font/IRANSansWeb.eot") format("embedded-opentype"),
    url("../font/IRANSansWeb.woff2") format("woff2"),
    url("../font/IRANSansWeb.woff") format("woff"),
    url("../font/IRANSansWeb.ttf") format("truetype");
}
body {
  font-family: "IRANSans" !important;
  position: relative;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.5)),url("../img/img_4.jpg");
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:90vh;
}
.input{
height:50px;
}
.boh{
    padding-right: 14px;
    border-right:8px solid rgb(12, 168, 72) ;
}
.cart:hover{
    transform: scale(1.02);
    transition: 0.2s;
}
.card-body .colo {
  text-decoration: none;
 
}

.beshtar{
   text-decoration: none;
   color: #000;
}
.beshtar:hover{
  color: blue;
}
.parent{
  display: flex;
  justify-content: space-between;
}
.parentt{
  display: flex;
  justify-content: space-between;
}
.con{
  background-image: linear-gradient(rgba(58, 60, 75, 0.9) ,rgb(57, 59, 74,0.9)),url("../img/lllll.jpg");
  background-size: cover;
  height: 110vh;
}
.bor{
  border-radius: 15px;
}
.footerlink{
  text-decoration: none;
  color: rgb(95, 95, 95);
}
.bim{
  color: rgb(17, 17, 78);
}

.colt{
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: rgb(250, 242, 242);
}
.cl:hover{
  transform: scale(0.9);
  transition: 0.6s;
}
a{
  text-decoration: none;
  
}
.fs-2{
  color: rgb(180, 179, 179);
}
.w-75{
  border-bottom: 3px solid white;
  height: 35px;
}
.footerlink{
  color: rgb(219, 240, 240);
}
.nav{
   position: sticky;
   background-color: white;
  top: 0;
  z-index: 1;
}
#loaders img {
  width: 150px;
  margin: 0 auto;
  display: none;
}